    
:root{--swiper-theme-color:#ff7aff}

body,html{
    position:relative;
    min-height:100%;
    margin:0;
    padding:0
}

body{
    height:100%;
    background:#121212;
    color:#fff;
    font-family:-apple-system,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,"Segoe UI",Roboto,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale
}
h1,h2{
    text-align:center
}
h2{
    font-size:36px
}
.container{
    max-width:480px;
    margin:80px auto;
    padding:0 16px
}


.swiper
{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    overflow:hidden;
    list-style:none;
    padding:0;z-index:1
}
.swiper-vertical>.swiper-wrapper
{
    flex-direction:column
}
.swiper-wrapper{
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    display:flex;
    transition-property:transform;
    box-sizing:content-box
}
.swiper-android .swiper-slide,.swiper-wrapper{
    transform:translate3d(0,0,0)
}
.swiper-pointer-events{
    touch-action:pan-y
}
.swiper-pointer-events.swiper-vertical{
    touch-action:pan-x
}
.swiper-slide{
    flex-shrink:0;
    width:100%;
    height:100%;
    position:relative;
    transition-property:transform
}
.swiper-slide-invisible-blank{
    visibility:hidden
}
.swiper-autoheight,.swiper-autoheight .swiper-slide{
    height:auto
}
.swiper-autoheight .swiper-wrapper{
    align-items:flex-start;
    transition-property:transform,height
}
.swiper-backface-hidden .swiper-slide{
    transform:translateZ(0);
    backface-visibility:hidden
}
.swiper-3d,.swiper-3d.swiper-css-mode .swiper-wrapper{perspective:1200px}.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide,.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top,.swiper-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-3d .swiper-slide-shadow{background:rgba(0,0,0,.15)}.swiper-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-horizontal.swiper-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-vertical.swiper-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}.swiper-centered>.swiper-wrapper::before{content:"";flex-shrink:0;order:9999}.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child{margin-inline-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-horizontal>.swiper-wrapper::before{height:100%;width:var(--swiper-centered-offset-after)}.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child{margin-block-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-vertical>.swiper-wrapper::before{width:100%;height:var(--swiper-centered-offset-after)}.swiper-centered>.swiper-wrapper>.swiper-slide{scroll-snap-align:center center}.swiper-cube{overflow:visible}.swiper-cube .swiper-slide{pointer-events:none;backface-visibility:hidden;z-index:1;visibility:hidden;transform-origin:0 0;width:100%;height:100%}.swiper-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-cube.swiper-rtl .swiper-slide{transform-origin:100% 0}.swiper-cube .swiper-slide-active,.swiper-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-cube .swiper-slide-active,.swiper-cube .swiper-slide-next,.swiper-cube .swiper-slide-next+.swiper-slide,.swiper-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-cube .swiper-slide-shadow-bottom,.swiper-cube .swiper-slide-shadow-left,.swiper-cube .swiper-slide-shadow-right,.swiper-cube .swiper-slide-shadow-top{z-index:0;backface-visibility:hidden}.swiper-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;opacity:.6;z-index:0}.swiper-cube .swiper-cube-shadow:before{content:"";background:#000;position:absolute;left:0;top:0;bottom:0;right:0;-webkit-filter:blur(50px);filter:blur(50px)}.swiper-slicer{position:relative;perspective:1200px}.swiper-slicer .swiper{perspective:none;transform-style:preserve-3d}.swiper-slicer .swiper-slicer-size{width:100%;height:auto;opacity:0;visibility:hidden;pointer-events:none;display:block}.swiper-slicer .swiper-slide{background-size:100% auto;backface-visibility:hidden;-webkit-backface-visibility:hidden}.swiper-slicer .swiper:nth-child(1) .swiper-wrapper{position:absolute;left:0;top:0;width:100%;height:25%}.swiper-slicer .swiper:nth-child(n+2){pointer-events:none;position:absolute;left:0;width:100%;height:25%}.swiper-slicer .swiper:nth-child(n+2) .swiper-slide{pointer-events:none}.swiper-slicer .swiper:nth-child(2){top:25%}

.swiper-slicer .swiper:nth-child(2) .swiper-slide{background-position:0 -100%}

.swiper-slicer .swiper:nth-child(3){top:50%}

.swiper-slicer .swiper:nth-child(3) .swiper-slide{background-position:0 -200%}

.swiper-slicer .swiper:nth-child(4){top:75%}

.swiper-slicer .swiper:nth-child(4) .swiper-slide{
    background-position:0 -300%
}